nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar.sticky-top.navbar-light.bg-static(id="topNav")
  .container-fluid
    a.navbar-brand(href="/", onclick="return ReactRouterLink(this, '/')")
      i.fa.fa-snowflake-o.fa-2x
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/", onclick="return ReactRouterLink(this, '/')")
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href="/parallax", onclick="return ReactRouterLink(this, '/parallax')") Parallax
        li.nav-item
          a.nav-link(href="/status") Status
        li.nav-item
          a.nav-link.disabled(href="#") Disabled
      form.form-inline.my-2.my-lg-0
        input.form-control.form-control-sm.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
        button.btn.btn-outline-success.my-2.my-sm-0.btn-sm(type="submit") Search