doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    title #{title}
    link(rel='shortcut icon', href='/favicon.png')

    if assets &&  assets['app.css']
      link(rel="stylesheet", href='/dist/'+assets['app.css'])

    style.
      body {
        background: url('/images/bg.jpg');
      }

  body
    div(id="root")
      block content
        .page.row.align-items-center
          .col
            h2.text-center
              i.fa.fa-spinner.fa-pulse.fa-4x

    include partials/footer

    if assets && assets['app.js']
      script(src='/dist/'+assets['app.js'])

    // Google Analytics: change UA-XXXXX-X to be your site's ID
